
@font-face {
	font-family: 'Assistant-Bold';
	font-style: normal;
	font-weight: normal;
	src: local('Assistant-Bold'), url('../fonts/Assistant-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Assistant-Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Assistant-Regular'), url('../fonts/Assistant-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Assistant-SemiBold';
	font-style: normal;
	font-weight: normal;
	src: local('Assistant-SemiBold'), url('../fonts/Assistant-SemiBold.ttf') format('truetype');
}