@font-face {
	font-family: 'TextaRegular';
	font-style: normal;
	font-weight: normal;
	src: local('TextaRegular'), url('../fonts/TextaRegular.otf') format('opentype');
}

@font-face {
	font-family: 'TextaBook';
	font-style: normal;
	font-weight: normal;
	src: local('TextaBook'), url('../fonts/TextaBook.otf') format('opentype');
}

@font-face {
	font-family: 'TextaBold';
	font-style: normal;
	font-weight: normal;
	src: local('TextaBold'), url('../fonts/TextaBold.otf') format('opentype');
}
